body{
    color: white !important;
    font-family: 'Major Mono Display', monospace; !important;
}

#quizArea, #title{
    background-blend-mode: "soft-light";
    background-color: #ffffff7d;
}